<html>
<head>
</head>
<body>
<p onclick="openhub()">Click here to open Qliksense, If it does not open automatically with in 3 seconds</p>
<script src="//cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.min.js"></script>
<script type="text/javascript">
	
   	var rows =<%- JSON.stringify(data) %>;

   	//console.log(rows)
    var row = JSON.parse(rows);
    function openhub() {
   		 window.open(row.redirect,"_self");
	}
	window.open(row.redirect,"_self");
	
</script>
</body>